# Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos temporários
*.*~
*.__pycache__*

# Django
db.sqlite3
/staticfiles/
/media/

# IDEs
.idea/
.vscode/

# MacOS
.DS_Store

# Logs e arquivos temporários
*.log
*.pot
*.pyc
*.pyo
*.swp
