{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Produtos à Venda</title>
    <link rel="icon" type="image/png" href="{% static 'icons/icons_logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

            <!-- Menu Lateral -->
        <nav class="menu-lateral">
            <h2>Menu</h2>
            <ul>
                {% for nome_categoria, produtos_categoria in categorias.items %}
                    <li><a href="#{{ nome_categoria|slugify }}">{{ nome_categoria|capfirst }}</a></li>
                {% endfor %}
            </ul>
        </nav>

    <!-- Cabeçalho -->
    <header>
        <h1>💻 The TechNova Store 💻</h1>
    </header>

    <!-- Vídeo da Loja no início -->
    <section class="video-inicial">
        <video class="video-header" autoplay muted loop playsinline>
            <source src="{% static 'videos/videotech.mp4' %}" type="video/mp4">
            Seu navegador não suporta o elemento de vídeo.
        </video>
    </section>

    <!-- Conteúdo principal -->
    <h1>Produtos à Venda</h1>

    <!-- Loop de categorias e produtos -->
    {% if categorias %}
        {% for nome_categoria, produtos_categoria in categorias.items %}
        <h2 id="{{ nome_categoria|slugify }}">{{ nome_categoria|capfirst }}</h2>
            {% if produtos_categoria %}
            <div class="linha-produtos">
                {% for produto in produtos_categoria %}
                    <div class="produto">
                        <h3>{{ produto.nome }}</h3>
                        {% if produto.imagem %}
                            <a href="{{ produto.imagem.url }}" class="glightbox">
                                <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                            </a>
                        {% endif %}
                        <p>{{ produto.descricao }}</p>
                        
                        <!-- Botão para conferir valor -->
                        <button onclick="mostrarValor('{{ produto.nome }}', '{{ produto.modelo|default:"" }}', {{ produto.preco|floatformat:2 }})">
                            Conferir valor 💱
                        </button>

                        <!-- Botão para adicionar ao carrinho -->
                        <button onclick="adicionarAoCarrinho('{{ produto.nome }}', {{ produto.preco }})">
                            Adicionar ao carrinho 🛒
                        </button>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <p>Nenhum produto cadastrado nesta categoria.</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Não há produtos cadastrados.</p>
    {% endif %}

    <!-- Rodapé -->
    <footer>
    <p>&copy; 2025 The TechNova Store</p>
    <p>Email: contato@technova.com | WhatsApp: (61) 99999-9999</p>
    <div class="social">
        <a href="#"><img src="{% static 'icons/icons_facebook.png' %}" alt="Facebook">Facebook</a>
        <a href="#"><img src="{% static 'icons/icons_whatsapp2.png' %}" alt="WhatsApp">WhatsApp</a>
        <a href="#"><img src="{% static 'icons/icons_instagram.png' %}" alt="Instagram">Instgaram</a>
        
    </div>
    </footer>

    <!-- Modal do carrinho -->
    <div id="modal-carrinho" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="mensagem-carrinho"></p>
        </div>
    </div>

    <!-- Botão fixo do carrinho -->
    <div id="carrinho-final" class="carrinho-final">
        <a href="{% url 'carrinho' %}">🛒 Ver Carrinho</a>
    </div>
    
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
